replicaCount: 1
image:
  repository: 112865149831.dkr.ecr.us-east-1.amazonaws.com/my-proj
  tag: develop-20260128-c0553ae
containerPort: 80
environment: dev
resources:
  requests:
    memory: 256Mi
    cpu: 200m
  limits:
    memory: 512Mi
    cpu: 500m
probes:
  readiness:
    path: /
  liveness:
    path: /
